<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	 	<!-- Properties -->
		<property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
		<property name="hibernate.connection.url">jdbc:derby:db/exam</property>
		<!-- <property name="hibernate.connection.url">jdbc:derby:db/exam;create=true</property> -->
		<!-- <property name="hibernate.connection.username">...</property> -->
		<!-- <property name="hibernate.connection.password">...</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
		
		<!-- Debugging / logging -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<!-- List of annotated classes -->
		<mapping class="org.terracotta.reference.exam.domain.User"/>
		<mapping class="org.terracotta.reference.exam.domain.ExamResult"/>
		
	</session-factory>
</hibernate-configuration>
